{% extends "base.html" %}
{% block content %}

<div class="meetthezoo">
    <h3>Meet The Zoo!</h3>
    <p>Safaria is a unique hands-on zoo and working farm. The home of the big zoo animals including <strong>African Elephants, White Rhinos, Giraffe, Lions, Giant Anteater and Spectacled Bears.</strong> You’ll be amazed at the variety of animals you’ll see with over 100 different species, set in 100 acres of countryside. Play all day in the adventure playgrounds and explore Britain's Longest Hedge Maze! <strong>The zoo is a multi-award-winning attraction</strong> and there’s something for all the family with interactive keeper talks on conservation, activity trails, adventure play, hedge maze and chances to feed the farm animals.</p>
    <img class="homeimg" src="static\Animals_Large (2).jpg" alt ="Picture of deer">

    <img class="homeimg" src="static\Animals_Large (7).jpg" alt="Picture of a deer"> 
</div>

<!-- Simple homepage displays one picture and has description that inherits navbar-->

{%endblock%}