<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Register</h3>
    <br>
    <div>
        {%with messaged = get_flashed_messages()%}
        {%if messages%}
        <ul class=flashes>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <div>
        <form method ="post" action = "/register">
            <input type="email" name="email" placeholder="Your E-mail"
            autofocus ="" required>
            <input type = "password" name = "password" placeholder = "Your Password"
            autofocus="" required>
            <button class ="button">Register</button>

        </form>
    </div>
    
</body>
</html>